body {
    display: flex;
    flex-direction: column;
}
header{
    width: 1031px;
    height: 61px;
    background-color: #b0babb;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
}
.linea{
    width: 500px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem;
    border-radius: 1em;
    align-content: center;
    padding: 1rem;
}
.circulo1{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    margin: 0.9rem;
 
}
.circulo2{
    width: 20px;
    height: 20px;
    background-color: rgb(150, 4, 4);
    border-radius: 100%;
    margin: 0.9rem;
}
.circulo3{
    width: 20px;
    height: 20px;
    background-color: rgb(243, 239, 28);
    border-radius: 100%;
    margin: 0.9rem;
}


nav{
    width: 1031px;
    height: 65px;
    background-color: black;
   
}
.franja{
    width: 150px;
    height: 40px;
    background-color: rgb(124, 6, 6);
    margin: 0.5rem;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    text-decoration-color: white;
    padding: 1rem;
    
}


.caja padre{
    width: 20px;
    height: auto;
    display: flex;
    flex-direction: row;

}

.aside{ 
    width: 270px;
    height: 864px;
    background-color: #bac3c4;
    float: right;
    margin: 1em;
    display: flex;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

footer{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.cuadro-1, .cuadro-2, .cuadro-3{
    width: 200.85px;
    height: 152.7px;
    background-color: gainsboro;
    margin: 1em; 
    border-radius: 1rem;
    padding: 6rem;
}
.caja{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.caja-1, .caja-2, .caja-3{
    width: 200.85px;
    height: 152.7px;
    background-color: gainsboro;
    margin: 1em; 
    border-radius: 1rem;
    padding: 6rem;
}
.cuadrados{
    width: 600px;
    height: 500px; ;
    display: flex;
    flex-direction: row;
    
}
.cuadrado{
    width: 200,98px;
    height: 110.93px;
    background-color: rgb(163, 161, 161);
    margin: 1rem;
    float: right;
}
.rectangulo-1{
    width: 337px;
    height: 96px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 1rem;
}
.spotify{
 margin: 1em;
  width: 1000px;
  height: 500px;
  border-radius: 1rem;
  float: left;
  
}
.gris-1{
    width: 500px;
    height: 800px;
}
.logo{
    width: 190.98px;
    height: 130.93px;
    border-radius: 0.05rem;
}
.naranja{
    width: 154px;
    height: 90.1px;
    margin: 2rem;
    border-radius: 1rem;
}
.morado{
    width: 154px;
    height: 90.1px;
    margin: 2rem;
    border-radius: 1rem;
}
.amarillo{
    width: 154px;
    height: 90.1px;
    margin: 2rem;
    border-radius: 1rem;
}
.celeste{
    width: 154px;
    height: 90.1px;
    margin: 2rem;
    border-radius: 1em;
}


.verde{
    width: 215.27px;
    height: 211.2px;
    margin: 1rem;
    border-radius: 1rem;
}